.container {
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 10;
    width: 100%;
}
.navigator {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}
.navigator li {
    padding: 7px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.isActived > a {
    color: #000;
}
a{
    text-decoration: none;
    color: #ccc;
    font-weight: bolder;
}